// Foundations first (variables, functions, mixins)
@use "foundations/variables" as *;
@use "foundations/functions" as *;
@use "foundations/mixins" as *;

// Pages
@use "pages/index" as *;
@use "pages/dashboard" as *;
@use "pages/books" as *;
@use "pages/book" as *;

* {
    font-family: var(--font-primary);
}
h1 {
    @include h1();
}

h2 {
    @include h2();
}

h3 {
    @include h3();
}

p {
    @include p();
}
