.a-button {
    display: inline-block;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

    &.-primary {
        padding: 25px 60px;
        background-color: black;
        color: white;
        border-radius: 16px;
    }
}