.m-card {
    background-color: var(--blue-1);
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 24px;



    .a-button {
        justify-self: center;
        margin-top: 20px;
    }
}