@mixin h1 {
    font-size: 64px;
    font-weight: 600;
}

@mixin h2 {
    font-size: 48px;
    font-weight: 600;
}

@mixin h3 {
    font-size: 40px;
    font-weight: 600;
}

@mixin p {
    font-size: 16px;
    line-height: 1.6;
    color: grey;
}