@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --blue-1: #E7FAFE;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #00000099;
    --border-radius-card: 30px;
    --font-primary: 'Inter', sans-serif;
    --shadow-soft: 0px 10px 30px rgba(0, 0, 0, 0.05);
}